<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/src/main/resources/static/styles/style.css">
    <link rel="stylesheet" type="text/css" href="/src/main/resources/static/styles/General.css">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Biluthyrning AB</h1>
    </header>
    <div class="page-layout"></div>
    <aside>
        <div class="content">
            <p class="menu-title">Menyval</p>
        </div>
       <nav>
          <ul>
            <li><a href="index.html">Hem</a></li>
            <li><a href="/Våra_bilar">Våra bilar</a></li>
            <li><a href="cart.html">Varukorg</a></li>
            <li><a href="register.html">Ny användare(registrering)</a></li>
            <li><a href="#" id="loginLink">Login</a></li>
            <div id="loginForm" style="display: none;">
                <input type="text" placeholder="Email" id="loginEmail">
                <input type="password" placeholder="Password" id="loginPassword">
                <button id="loginButton">Logga in</button>
            </div>
          </ul>
        </nav>
    </div>
</aside>
</div>
<main>
    <section>
        <p>Välkommen till Biluthyrning AB, Halmstads främsta destination för unika och lyxiga bilupplevelser till överkomliga priser</p>
        <p>Vi är inte den vanliga biluthyrningsfirman, vi har specialiserat oss på att erbjuda samling noga utvalda bilar.</p>
        <p></p>
    </section>
</main>
<script src="/src/main/resources/static/scripts/login.js"></script>
</body>
</html>