<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/main/resources/static/styles/style.css">
    <title>Varukorg - Biluthyrning AB</title>
</head>
<body>
    <div class="page-layout">
        <aside>
            <div class="content">
                <p class="menu-title">Menyval</p>
            </div>
            <h2 id="meny"></h2>
            <nav>
                <ul>
                    <li><a href="index.html">Hem</a></li>
                    <li><a href="car.html">Våra bilar</a></li>
                    <li><a href="#">Extra tillbehör</a></li>
                    <li><a href="about.html">Om oss</a></li>
                    <li><a href="cart.html">Varukorg</a></li>
                    <li><a href="register.html">Ny användare</a></li>
                    <li><a href="#" id="loginLink">Login</a></li>
                    <div id="loginForm" style="display: none;">
                        <input type="text" placeholder="Email" id="email">
                        <input type="password" placeholder="Password" id="password">
                        <button id="loginButton">Logga in</button>
                    </div>
                </ul>
            </nav>
        </aside>
        <div class="cartForm">
            <h1>Din varukorg</h1>
            <ul id="cart-items"></ul> 
            <div class="saveForm">
                <button id="saveCart">Spara</button>
            </div>     
        </div>
    </div>
    <script src="/src/main/resources/static/scripts/login.js"></script>
    <script src="/src/main/resources/static/scripts/cart.js"></script>
</body>
</html>