<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Car-Rentals</title>
    <link
      rel="stylesheet"
      type="text/css"

      href="/BiluthyrningAB/src/main/resources/static/homepageproductcontainer.css"

      href="/BiluthyrningAB/src/main/resources/static/styles/carCardStyle.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/BiluthyrningAB/src/main/resources/static/styles/homePageStyle.css"

    />
  </head>
  <body>
    <main>
      <div id="productdealscontainer">

        <!--
        <button class="scrollBtn" id="scrollLeftBtn"></button>
        <button class="scrollBtn" id="scrollLeftBtn"></button>
        -->
        <div class="productcontainer">
          <div class="imgcontainer">
            <img
              class="carimg"
              src="/BiluthyrningAB/src/main/resources/static/images/car0.png"
              alt="NONE"
            />
          </div>
          <div class="productinfocontainer">
            <p class="productname">Model</p>
            <p class="productprice">Pricekr/Day</p>
          </div>
        </div>

        <div id="leftBtn"></div>
        <div id="productscontainer"></div>
        <div id="rightBtn"></div>

      </div>
    </main>
    <script src="/BiluthyrningAB/src/main/resources/static/scripts/carsTemp.js"></script>
    <script src="/BiluthyrningAB/src/main/resources/static/scripts/carGeneration.js"></script>
    <script src="/BiluthyrningAB/src/main/resources/static/scripts/homePageLoad.js"></script>
  </body>
</html>
