<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/src/main/resources/static/styles/style.css">
    <title>Profil - Biluthyrning AB</title>
</head>
<div class="profile">
    <h1>Välkommen till din profil!</h1>
</div>
<body>
    <aside>
        <div class="content">
             <p class="menu-title">Menyval</p>
         </div>
            <h2 id="meny"></h2>
        <nav>
            <ul>
                <li><a href="index.html">Hem</a></li>
                <li><a href="car.html">Våra bilar</a></li>
                <li><a href="#">Extra tillbehör</a></li>
                <li><a href="about.html">Om oss</a></li>
                <li><a href="cart.html">Varukorg</a></li>
                <li><a href="register.html">Ny användare</a></li>
                <li><a href="#" id="loginLink">Login</a></li>
                 <div id="loginForm" style="display: none;">
                    <input type="text" placeholder="Email" id="loginEmail">
                    <input type="password" placeholder="Password" id="loginPassword">
                    <button id="loginButton">Logga in</button>
                 </div>
            </ul>
        </nav>
    </aside>
    <script src="/src/main/resources/static/scripts/index.js"></script>
    <script src="/src/main/resources/static/scripts/profile.js"></script>
</body>
</html>