<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/main/resources/static/styles/style.css">
    <title>Registrera dig - Biluthyrning AB</title>
</head>
<body>
<div class="page-layout">
    <aside>
        <div class="content">
            <p class="menu-title">Menyval</p>
        </div>
        <h2 id="meny"></h2>
        <nav>
            <ul>
                <li><a href="index.html">Hem</a></li>
                <li><a href="car.html">Våra bilar</a></li>
                <li><a href="#">Extra tillbehör</a></li>
                <li><a href="#">Om oss</a></li>
                <li><a href="cart.html">Varukorg</a></li>
                <li><a href="register.html">Ny användare</a></li>
                <li><a href="#" id="loginLink">Login</a></li>
                <div id="loginForm" style="display: none;">
                    <input type="text" placeholder="Email" id="loginEmail">
                    <input type="password" placeholder="Password" id="loginPassword">
                    <button id="loginButton">Logga in</button>
                </div>
            </ul>
        </nav>
    </aside>
    <div class="registrationForm">
        <h1>Registrera dig</h1>
        <form action="/users/addUser" method="post">
            <div class="input-grid">
                <label for="email">E-post:</label>
                <input type="text" name="email" id="email" required>
            </div>
            <div class="input-grid">
                <label for="password">Lösenord:</label>
                <input type="password" name="password" id="password" required>
            </div>
            <div class="input-grid">
                <label for="confirmPassword">Repetera Lösenord:</label>
                <input type="password" name="confirmPassword" id="confirmPassword" required>
            </div>
            <div class="input-grid">
                <label for="name">Name:</label>
                <input type="text" name="name" id="name" required>
            </div>
            <div class="input-grid">
                <label for="telephoneNumber">Telefonnr:</label>
                <input type="text" name="t" id="telephoneNumber">
            </div>
            <div class="input-grid">
                <label for="address">Adress:</label>
                <input type="text" name="address" id="address">
            </div>
            <div class="buttonContainer">
                <button type="submit">Registrera!</button>
            </div>
        </form>
    </div> 
</div>
<script src="/src/main/resources/static/scripts/index.js"></script>
</body>
</html>
