<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search Cars</title>
</head>
<body>
<h1>Search Cars</h1>
<form id="searchForm" th:action="@{/searchAllCars}" method="get">
    <label for="carName">Car Name:</label>
    <input type="text" id="carName" name="carName"><br>

    <label for="carBrand">Car Brand:</label>
    <select id="carBrand" name="carBrand">
        <option value="">Select Car Brand</option>
        <option value="Volvo">Volvo</option>
    </select><br>

    <label for="milage">Milage:</label>
    <input type="text" id="milage" name="milage"><br>

    <label for="automatic">Automatic:</label>
    <select id="automatic" name="automatic">
        <option value="">Select Transmission</option>
        <option value="Automatic">Automatic</option>
        <option value="Manual">Manual</option>
    </select><br>

    <label for="carSeats">Car Seats:</label>
    <input type="text" id="carSeats" name="carSeats"><br>

    <label for="carYear">Car Year:</label>
    <input type="text" id="carYear" name="carYear"><br>

    <label for="engineType">Engine Type:</label>
    <select id="engineType" name="engineType">
        <option value="">Select Engine Type</option>
        <option value="Electric">Electric</option>
        <option value="Bensin">Bensin</option>
        <option value="Diesel">Diesel</option>
    </select><br>

    <label for="carType">Car Type:</label>
    <select name="carType" id="carType">
        <option value="">Select Car Type</option>
        <option value="Combi">Combi</option>
    </select><br>

    <label for="pricePerDay">Price Per Day:</label>
    <input type="text" id="pricePerDay" name="pricePerDay"><br>

    <button id="searchCarsButton" type="submit">Search</button>
</form>


</ul>
<script src="scripts/searchParams.js"></script>
</body>
</html>
