#productdealscontainer{
    display: flex;
    width: 94%;
    height: 200px;
    background-color: rgb(236, 236, 236);
    margin: 2% 2%;
    padding: 0 1%;
    overflow: hidden;
}

.productcontainer{
    width: 20%;
    background-color: rgb(255, 255, 255);
    margin: 2% 1%;
    padding: 1% 1%;
    border-radius: 5px;
}

.imgcontainer{
    width: auto;
    height: 70%;
    background-color: rgb(248, 248, 248);
    border-radius: 5px;
    
    box-shadow: 2px 2px 1px rgb(221, 221, 221);
}

.carimg{
    height: 100%;
    display: block;
    margin: 0% auto;
}

.productinfocontainer{
    display: flex;
    justify-content: space-between;

}

.scrollBtn{
    position: absolute;
    height: 50px;
    margin: auto 0px;
}

#scrollLeftBtn{
    width: 5px;
}

#scrollRightBtn{
    float: right;
}