.productcontainer{
    width: 160px;
    height: 140px;
    background-image: linear-gradient(rgba(155, 73, 29, 0.658),rgba(151, 83, 46, 0.658));
    margin: 5px 5px;
    padding: 10px 10px;
    border-radius: 5px;
    transition: background-color 0.1s;
    transition: height 0.s;
}

.productcontainer:hover{
    background-color: rgb(172, 86, 37);
    height: 150px;
    cursor: pointer;
}

.imgcontainer{
    width: 160px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: rgba(126, 61, 1, 0.37);
    border-radius: 5px;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.103);
}

.carimg{
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

.productinfocontainer{
    display: flex;
    justify-content: space-between;

}

#fullInfoPanel{
    opacity: 0;
    display: block;
    background-image: url("/src/main/resources/static/images/Paper.png");
    background-size: 220px 350px;
    background-position-x: 50%;
    background-repeat: no-repeat;
    position: relative;
    width: 150px;
    height: 350px;
    overflow: hidden;
    padding: 50px 50px;
    transition: all 0.25s;
}


#fullInfoPanel p{
    color: rgb(61, 61, 61);
    font-size: 10px;
}