body{
    background-color: beige;
    margin: 0;
    padding: 0;
}

header{
    padding: 40px;
    background-color:rgb(180, 117, 62);
    width: 100%;
    text-align: left;
    font-family: "RetroVintage",serif;
    
    border: 3px solid rgb(110, 72, 39);
    
}

.menu-title{
    margin: 25px;
}

.content{
    padding-top: 10px;
    flex: 1;
    font-size: large;
    text-align: left;
    font-weight: bold;
}
.page-layout{
    display: flex;
    min-width: 100vh;
    width: 100%;
}

/*menu*/
aside{
    background-color: rgb(175, 132, 94);
    width: 215px;
    height: 100vh;
    border: 3px solid rgb(110, 72, 39);
}

/*cars*/
.ourCars h1{
    margin-left: 45px;
    margin-bottom: 60px;
    text-decoration-line: underline;
}

.car{
    margin-left: 45px;
}

/*cart*/
.cartForm{
    flex-grow: 1;
    padding: 40px;
    max-width: 400px;
}
.cartForm h1{
    margin-left: 25px;
}
#saveCart{
    margin-left: 40px;
}
.saveForm{
    margin-top: 60px;
}


/*registration*/
.input-grid input{
    width: 100%;
}

.input-grid{
    padding: 15px;
    margin-bottom: 10px;
    margin-left: 30px;
}
.registrationForm {
    flex-grow: 1;
    padding: 15px;
    max-width: 400px;
}
.registrationForm h1{
    margin-left: 45px;
    text-decoration: underline;
}
.buttonContainer{
    margin-left: 45px;
}


/*profile*/
.profile h1{
    text-align: center;
    text-decoration: underline;
}


/*contract*/
.contract-container{
    background-color:whitesmoke; 
    padding: 20px; 
    margin-top: 20px;
    border: 3px solid grey; 
    box-shadow: 0 px 0 px 5 px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    width: 800px;
    height: 600px;
  
  }

/*login*/
#email{
    width: auto;
    display: block;
    margin-top: 5px;
}
#password{
    width: auto;
    display: block;
    margin-top: 5px;
}
#loginButton{
    margin-top: 5px;
}

/*logout*/
#logoutButton{
    margin-left: 40px;
}



